.title{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 20px;
}
form{
    width: 50%;
    margin-left: 300px;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 2px solid #ccc;
    box-sizing: border-box;
}

button {
    background-color: #288db5;
    color: white;
    padding: 15px 20px;
    margin: 8px 0;
    cursor: pointer;
    width: 100%;
}

.container {
    padding: 16px;
    background-color: white;
}

h2{
    text-align: center;
    font-family: Arial, Helvetica, sans-serif
}

body{
    background-color: #46536b;
}