.title{
    text-align: center;
    color: white;
    font-size: 50px;
    padding-top: 20px;
}

form{
    width: 50%;
    margin-left: 300px;
}

input[type=text],
    input[type=password], input[type=number] {
        width: 50%;
        padding: 12px 20px;
        margin: 8px 20px;
        display: inline-block;
        border: 2px solid #ccc;
        box-sizing: border-box;
    }

	/*button {*/
    /*    background-color: #03A9F4;*/
    /*    color: black;*/
    /*    padding: 15px 20px;*/
    /*    margin: 8px 20px;*/
    /*    cursor: pointer;*/
    /*    width: 100%;*/
	/*font-size: 1.25em*/
    /*}*/

	.signupbtn {
        background-color: #03A9F4;
        padding: 15px 20px;
        margin: 8px 20px;
        float: left;
        width: 50%;
    }

	.container {
        padding: 16px;
    }

	.clearfix::after {
        content: "";
        clear: both;
        display: table;
    }

	.signupbtn {
        width: 50%;
        }

	body {
	background-color: #8B0000;
    }
